<div id="project-showcase" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#project-showcase" data-slide-to="0" class="active"></li>
    <li data-target="#project-showcase" data-slide-to="1"></li>
    <li data-target="#project-showcase" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("blocchat") %>
      <div class="carousel-caption">
        <h3>Bloc Chat</h3>
        <p>Angular JS Chat Program</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("store") %>
      <div class="carousel-caption">
        <h3>The Store</h3>
        <p>Fake Storefront</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("blocjams") %>
      <div class="carousel-caption">
        <h3>BlocJams!</h3>
        <p>JS Music Player</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#project-showcase" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#project-showcase" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
