<section class="container">
  <div class="row image_icon_row text-center">
    <h2 class="skill_header">Skills</h2>
    <div class="col-md-10 col-md-offset-1 image_icons">
      <i class="devicon-ruby-plain-wordmark colored skill_icon"></i>
      <i class="devicon-rails-plain-wordmark colored skill_icon"></i>
      <i class="devicon-javascript-plain colored skill_icon"></i>
      <i class="devicon-react-original-wordmark colored skill_icon"></i>
      <i class="devicon-angularjs-plain-wordmark colored skill_icon"></i>
      <i class="devicon-backbonejs-plain-wordmark colored skill_icon"></i>
      <i class="devicon-html5-plain-wordmark colored skill_icon"></i>
      <i class="devicon-css3-plain-wordmark colored skill_icon"></i>
      <i class="devicon-bootstrap-plain-wordmark colored skill_icon"></i>
      <i class="devicon-jquery-plain-wordmark colored skill_icon"></i>
      <i class="devicon-sass-original colored skill_icon"></i>
      <i class="devicon-git-plain-wordmark colored skill_icon"></i>
      <i class="devicon-github-plain-wordmark skill_icon"></i>
      <i class="devicon-heroku-plain-wordmark colored skill_icon"></i>
      <i class="devicon-python-plain-wordmark colored skill_icon"></i>
      <i class="devicon-django-plain-wordmark colored skill_icon"></i>
      <i class="devicon-mysql-plain-wordmark colored skill_icon"></i>
      <i class="devicon-postgresql-plain-wordmark colored skill_icon"></i>
      <i class="devicon-redis-plain-wordmark colored skill_icon"></i>
    </div>
  </div>
  <div class='jumbotron'>
    <h1 class="about_banner">About Me</h1>
    <div class="about_text">
      Hi! Thank you for visiting my portfolio.<br /><br />
      My name is Stephen Wentling and I am a Ruby on Rails, Django and React developer looking for opportunities worldwide and currently employed with Procore Technologies. My background before becoming a developer includes professional experience in Banking and Insurance and a college degree in Business. You'll find that I'm passionate about learning and most importantly I'm passionate about coding. I'm motivated to succeed, a quick study, and always working towards a goal.<br /><br />
      Thank you again for stopping by and feel free to reach out to me anytime!
    </div>
  </div>
</section>
