<section class="container">
  <div class='jumbotron'>
    <h1 class="about_banner">About Me</h1>
    Hi! Thank you for visiting my portfolio.<br /><br />
    My name is Stephen Wentling and I am a Ruby on Rails, Angular & JavaScript developer looking for opportunities worldwide and currently employed in two industries. By day I handle claims for a large Insurance Company and by night I work as dev. You'll find that I'm passionate about learning and most importantly I'm passionate about coding. I'm motivated to succeed, a quick study, and always working towards a goal.<br /><br />
    Thank you again for stopping by and feel free to reach out to me anytime!
  </div>
</section>
