<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBody">
Bliply is a social networking application that allows users to follow locations, follow interests, add friendships, write posts (which auto-destruct after 7 days) and maintain their privacy through Bliply’s “stealth mode”. This was my first independent project as a developer and served as the capstone project in my Rails Web Development track with Bloc.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/Bliply" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "http://Bliply.herokuapp.com" %></h3>
