<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Bloccit is a replica of Reddit created with direction from the curriculum at Bloc for educational purposes. It was my very first functional application and my first to be deployed on Heroku.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/Bloccit" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "https://immense-plains-18841.herokuapp.com" %></h3>
