<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Blocitoff is a self-destructing personal checklist application that allows users to create and manage items for a to-do list and was created with the help of a loose framework from the Bloc curriculum. This was my fourth project developed with my mentor for educational purposes during the end of my Rails Web Development track during spare time and then re-developed in Angular during the frontend portion of my development track using Angular and Firebase.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub - JS", "https://github.com/swentling87/blocitoff" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL - JS", "https://calm-wave-44935.herokuapp.com" %></h3>
<h3 class="projectSubHeader"><%= link_to "GitHub - Angular", "https://github.com/swentling87/blocitoff-angular" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL - Angular", "https://murmuring-journey-44539.herokuapp.com" %></h3>
