<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBody">
BlocJams is a personal music player application that allows a user to simply listen to music. This project developed for educational purposes during the Frontend Web Development portion of my Software Engineering Track.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub - JS", "https://github.com/swentling87/bloc-jams" %></h3>
<h3 class="projectSubHeader"><%= link_to "GitHub - Angular", "https://github.com/swentling87/bloc-jams-angular" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "http://polar-tor-69433.herokuapp.com" %></h3>
