<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Here you will find some of my most recent work which are a new format of responsive landing pages I have created during my time with Phantom Design for our client and their product <%= link_to "Cocoon", "https://getcocoon.com" %>. Similar to the other LP pages I created this follows a similar format but with the added twist that it includes both the standard offering and the plus version of the application on the same page with a modal for signups. 
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "'Trial' Page", "http://www.getcocoon.com/secured_browser" %></h3>
