<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
This page includes some screenshots from a feature branch that I developed along with another developer during my time with Phantom Design for our client and their product <%= link_to "Cocoon", "https://getcocoon.com" %>. This project was by far the most ambitious project that I have undertaken to date with a number of moving parts in four different programs. Overall the main goal was to lockout new users for the program once their trial period had ended or they had lapsed in their payments while not affecting legacy users. It included significant changes (as previously mentioned) across a number of systems but also a new frontend for all of this inluding a new sales funnel. What you're seeing here is the results of that project and the frontend that a user would see.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader">All of the pages referenced here with images are not available to link to presently however they are currently in production and available when prompted by the program they are referenced by.</h3>
