<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Here you will find a number of screenshots for responsive landing pages I have created during my time with Phantom Design for our client and their product <%= link_to "Cocoon", "https://getcocoon.com" %>. And while I have done a significant amount of work on the backend for the sales app, admin app, API, the frontend of their main product, and numerous bug fixes... That can't be shared! So a few screenshots will have to suffice in representing some of the work I have completed. Some of the various tech involved that I've worked with has included Ruby, Rails, Sinatra, Backbone.js, jQuery, XulRunner, MySql, Devise, Rails Admin, Stripe.js, Bootstrap, Sass, Html, CSS.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "'Trial' Page", "http://www.getcocoon.com/trial" %></h3>
<h3 class="projectSubHeader"><%= link_to "'Privacy' Page", "http://www.getcocoon.com/cocoon_privacy" %></h3>
<h3 class="projectSubHeader">Some of the pages referenced with images are not available to link to presently.</h3>
