<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBody">
This project was a challenge project specifically created to address a problem posed to me and create a functioning application based on a set of instructions/requirements. This was my sixth project and was again instructive as I learned a lot about integrating scripts and JS within a Rails application. Initially I began with a strict focus on JS working through the Google Maps API but settled on using the Gmaps4Rails gem to facilitate the functionality that I was looking for and after some fiddling with TurboLinks ultimately accomplished my goal.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/geo_location_challenge" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "https://afternoon-hollows-97161.herokuapp.com" %></h3>
