<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBody">
The Store is a (fake) store, created as an educational experiment, exercise and potential template.
This was my fifth project and first project created with a focus on front-end development integrated
with a Ruby on Rails framework rather than focusing on the backend. Think of this project as a beginner experiment with adding jQuery to a rails app.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/store" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "http://stormy-cliffs-10999.herokuapp.com" %></h3>
