<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Vid Chat is pretty straight forward, I built a video chat application using Web RTC technology and ReactJS. The goal here was to explore two technologies that were new to me and build something new and fun! Overall the application is quite simple to use and I hope to develop it into an opensource project to make it easy for people to integrate WebRTC with React. 
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/vid_chat_frontend" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "https://vid-chat-react.herokuapp.com/" %></h3>
