<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Wealth Building Technologies is a Django based e-learning application built to teach e-commerce which I built under contract for Origin Analytics. It consists of a full fledged CRM, sales funnel and various periphery pages. Although primarily an e-learning site this app offers two main additional offerings, Storefront Pro and Product Info 2.0 which were both built by me and available to users as an add-on.
</div>
<div class="projectBodyDescription">
Storefront Pro itself is a Chrome Extension built to augment the e-commerce training and is available with an access code generated and provided within the primary app to provide access. It reaches out to an API developed on the primary app and displays the data to the user in the extension so that they can follow along with the lesson content while navigating other sites in their browser.
</div>
<div class="projectBodyDescription">
The Product Info 2.0 application also lives within the primary application, is available as an add-on and provides the user information about current suggested products along with a myriad of statistics and financial data to enable them to build an e-commerce site. Populated via the main application's CRM, this app acts as a product showcase with a filtering system and search functionality to enable the user to find the right type of products for their future e-commerce site.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "URL", "http://wealthbuildingtechnologies.com" %></h3>
<h3 class="projectSubHeader"><%= link_to "Chrome Extension", "https://chrome.google.com/webstore/detail/storefront-pro-plugin/nchbleniabddaloappfgofohejmkljdh?hl=en-US" %></h3>
