<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
We Run Ads is a Django based e-learning application built to teach e-commerce which I built under contract for Origin Analytics. It consists of a full fledged CRM, sales funnel and various periphery pages (currently turned off by client request).
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "URL", "http://werunads.com" %></h3>
