<h3 class="projectBodyHeader">Explanation</h3>
<div class="projectBodyDescription">
Created in Node.js this project is an actual live App available at for the Amazon Echo and any Alexa compatible devices. It has received hardly any use and has no rating. This was the first Alexa skill I created and hasn't seen much use. As a trivia application it works just fine but in retrospect I expect the topic is not closely followed.
</div>
<h3 class="projectBodyHeader">Links</h3>
<h3 class="projectSubHeader"><%= link_to "GitHub", "https://github.com/swentling87/AlexaSkills/tree/master/alexa-skills-kit-js" %></h3>
<h3 class="projectSubHeader"><%= link_to "URL", "https://www.amazon.com/swentling-World-Currencies/dp/B01K3U5B8W/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1488492059&sr=1-1&keywords=swentling" %></h3>
