<h3 class="postHTop">Chrome Extensions</h3>
<div>
  I recently was given the task by a client to build a Chrome Extension despite my utter lack of experience with it, yet it turned out to be much easier than I expected! In fact once you get the hang of it, devloping Chrome extensions can be quite easy and fun! The developer dashboard is simple to use, costs only $5 to register and has plenty of documentation to get you started.
</div>
<br />
<div>
  <h4>What I Was Asked to Build</h4>
  <div class="indented">
    <p>So the app that was requested by the client was essentially a container for education coursework so that the user could easily toggle between the course and the lesson work which took place on an outside site. Complete with routing, navigtation, authentication and asynchronous data requests the project grew pretty quickly from a simple app to something quite complex. But with some vanilla JS, a bit of jQuery and some time (along with a Django based API that I built) I was able to put it together. It's a privately hosted app only available internally to users of the main application but it was a great learning experience and very rewarding.</p>
  </div>
</div>
<div>
  <h4>What I Decided to Build</h4>
  <div class="indented">
    <p>
      During my experimentation with Chrome extensions and the power that they can wield I ran across a curious bit of an API that I found intriguing... (see <a href="https://developer.chrome.com/extensions/webRequest">here</a>) With this API I could modify, block or just view a variety of aspects related to a web request. I'm talking changes to the header, the body, plenty of things. This could be pretty powerful! So for starters I looked into modifying headers as I had run into issues in development before mocking headers. And in researching this I built a chrome extension that removes x-frame denial headers from a web request essentially enabling iframes wherever you want! Pretty cool indeed.... Check out my extension <strike><a href="https://chrome.google.com/webstore/detail/iframe-freedom/miepmaeldfjckcpkgobkjodogihlgddo">here</a></strike>* and please support by shopping though my <a href="https://www.amazon.com/?tag=swentling-20&linkCode=ur1">Amazon</a> link present in the extension popup.
    </p>
    <small>* The chrome extension is back under development after changes in the handling of x-frame headers has caused my current approach to stop working.</small>
  </div>
</div>
