<h3 class="postHTop">Rails Conf 2018</h3>
<div>
  I got to go to my second conference! I could essentially reiterate what I wrote in my last post about a conference regarding how amazing the experience was, and although this one was quite different but even more amazing than Ruby Conf. The venue was in Pittsburgh and it was definitely cold but a lot of fun with a surprisingly great culinary scene. The conference though, was much larger than I expected and overall more applicable. Although Ruby Conf was great and had some good talks, much of it centered around where Ruby as a language was going rather than the actual implementation of Ruby whereas Rails Conf had plenty of useful talks for learning about ways to use Ruby (with Rails) and a lot more hands on learning from the workshops which I found really valuable. Here's some of the highlights listed below.
</div>
<br />
<div>
  <h4>What to watch...?</h4>
  <div class="indented">
    <ul>
      <li><a href="https://confreaks.tv/videos/railsconf2018-opening-keynote-fixme">Opening Keynote - DHH</a></li>
      <li><a href="https://confreaks.tv/videos/railsconf2018-keynote-the-future-of-rails-6-scalable-by-default">The Future of Rails 6: Scalable by Default - Eileen Uchitelle</a></li>
      <li><a href="https://confreaks.tv/videos/railsconf2018-re-graphing-the-mental-model-of-the-rails-router">Re-graphing The Mental Model of The Rails Router - Vaidehi Joshi</a></li>
      <li><a href="https://confreaks.tv/videos/railsconf2018-closing-keynote">Closing Keynote - Aaron Patterson</a></li>
    </ul>
  </div>
</div>
<div>
  <h4>What to work on...?</h4>
  <div class="indented">
    <ul>
      <li><a href="https://speakerdeck.com/exaspark/graphql-on-rails">GraphQL on Rails - Evgeny Li</a></li>
      <li><a href="https://www.notion.so/RailsConf-PRPL-on-Rails-470694f92d76434cb996967bb216b689">PRPL on Rails - 
Pearl Latteier & Abraham Williams</a></li>
    </ul>
  </div>
</div>
