<h3 class="postHTop">Ruby Conf 2017</h3>
<div>
  I got to go to my first conference! It was amazing and no BS, it was life changing. The venue was New Orleans and the conference was Ruby Conf 2017. I got to see Matz and Sandi Metz, watch some amazing talks and generally eat, breath and live code for a few solid days. Most of the talks were great, I went with a group from my work (Procore Technologies) and I learned a lot. On a human note, New  Orleans is a blast and has amazing music. Now I'm not going to go into detail regarding everything I learned but I will list some of the best talks I saw. This is as much a blog post as me cataloguing the videos to reference later as I particularly enjoyed these.
</div>
<br />
<div>
  <h4>What to watch...?</h4>
  <div class="indented">
    <ul>
      <li><a href="http://confreaks.tv/videos/rubyconf2017-git-driven-refactoring">Git Driven Refactoring - Ashley Ellis Pierce</a></li>
      <li><a href="http://confreaks.tv/videos/rubyconf2017-keynote-growing-old">Growing Old - Chad Fowler</a></li>
      <li><a href="http://confreaks.tv/videos/rubyconf2017-keynote-the-impermanence-of-software">The Impermanence of Software - Andy Croll</a></li>
      <li><a href="http://confreaks.tv/videos/rubyconf2017-that-time-i-used-ruby-to-crack-my-reddit-password">That time I used Ruby to crack my Reddit password - Haseeb Qureshi</a></li>
      <li><a href="http://confreaks.tv/videos/rubyconf2017-keynote-you-re-insufficiently-persuasive">You're Insufficiently Persuasive - Sandi Metz</a></li>
    </ul>
  </div>
</div>
