<h3 class="postHTop">Status Report</h3>
<div>
  So just an update if anyone is paying attention to this for any odd reason but I've decided that in an effort to make these posts more comprehensive and meaningful. Specifically, I'm going to change my effort commitment to a monthly blog post effort at minimum but likely more. Overall it's a realization that juggling the various aspects of life including personal projects, professional projects, open source contributions that I'd like to make and just life itself is causing a shift in priorities. I'm not going away, just making it clear that I'm making an effort to be more effective with my time. Stay tuned!
</div>