<section class="container projectIndex">
  <h1 class="projectHeader">My Projects</h1>
  <div class="row projectIndexRow">
    <div class="col-md-12 col-xs-12">
      <% @projects.each do |project| %>
        <div class="thumbWrapper">
          <%= link_to project_path(project.id) do %>
            <div class="thumbnail" style="background-image: url(<%= asset_path "#{project.img}.png" %>);">
            </div>
            <h1 class="thumbHeader invisible"><%= link_to "#{project.name.capitalize}", project_path(project.id) %></h1>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
