<section class="container projectShow">
  <h1 class="projectHeader"><%= @project.name.capitalize %></h1>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= image_tag("#{@project.img}", size: "500x400", class: "thumbnail img-responsive center-block") %>
    </div>
    <div class="col-md-6 col-xs-12">
      <%= render partial: "#{@project.body}" %>
    </div>
  </div>
</section>
