<% @posts.each do |post| %>
  <ul class="blogger">
    <li class="blog_post panel panel-default">
      <div class="panel-heading">
        <small class='pull-right'>
          <%= post.created_at %>
        </small>
        <h2 class="panel-heading">
          <%= post.title %>
        </h2>
      </div>
      <div class="panel-body">
        <%= render partial: "#{post.body}" %>
      </div>
    </li>
  </ul>
<% end %>
